@import "~bulma";
$tabs-link-active-color: red;

.App-title {
  font-family: AppleSDGothicNeo;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 26px;
  margin-left: 28px;
  margin-bottom: 60px;
}

.App-subtitle {
  font-family: AppleSDGothicNeo;
  font-size: 20px;
  font-weight: 600;
  color: #3e3e3e;
  margin-left: 20px;
  margin-top: 43px;
  margin-bottom: 20px;
}

.App-link {
  position: absolute;
  top: 226px;
  right: 20px;
  bottom: 20px;
  text-decoration: underline;
}

.AddressTile {
  width: 360px;
  height: 85px;
  border: solid 1px #8c8c8c;
  background-color: #ffffff;
  padding: 20px 23px;
  position: relative;
};

.AddressTile_zipcode {
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #3e3e3e;
}

.AddressTile_tag {
  width: 45.9px;
  height: 22px;
  border-radius: 5px;
  background-color: #ff5b5c;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 88px;
}

.AddressTile_address {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-style: normal;
  color: #989898;
  position: absolute;
  top: 44px;
}

.AddressTile_button {
  position: absolute;
  top: 25px;
  right: 23px;
}
