@import "~bulma/bulma"

#mobile-version
  display: block

  @media(min-width: 768px)
    display: none

#tablet-version
  display: none

  @media(min-width: 768px)
    display: block

  @media(min-width: 1024px)
    display: none

#desktop-version
  display: none
  margin: 0px 42px 255px 42px

  @media(min-width: 1024px)
    display: block

.App
  &__tablet-tiles
    margin: 20px 42px 0px 42px
    border-radius: 8px
    border: solid 1px #979797

    @media(min-width: 1024px)
      margin: 20px 42px 0px 0px

  &__mobile-tiles
    margin-top: 20px

  &__title
    font-family: AppleSDGothicNeo
    font-size: 36px
    font-weight: bold
    line-height: normal
    letter-spacing: normal
    color: #000000
    margin-top: 26px
    margin-left: 28px
    margin-bottom: 60px

  &__mobile-container
    margin: 50px 20px 0px 20px
    display: flex
    justify-content: space-between

  &__tablet-container
    margin: 50px 42px 0px 42px
    display: flex
    justify-content: space-between

    @media(min-width: 1024px)
      margin: 50px 42px 0px 0px

  &__subtitle
    font-family: AppleSDGothicNeo
    font-size: 20px
    font-weight: 600
    color: #3e3e3e

  &__link
    text-decoration: underline

  &__button
    height: 50px;
    border-bottom: solid 1px #8c8c8c
    border-top: solid 1px #8c8c8c
    display: flex
    align-items: center
    justify-content: center
    font-family: AppleSDGothicNeo
    font-size: 16px
    color: #252525

    @media(min-width: 768px)
      border-bottom: none

  &__info
    width: 320px
    height: 154px
    border-radius: 8px
    border: solid 1px #979797
    background-color: #ffffff
    padding: 20px

    @media(min-width: 768px)
      width: 100%
      margin: 0px 42px 
      height: 114px

    @media(min-width: 1024px)
      height: 174px
      margin: 0px

    &-container
      display: flex
      align-items: center
      justify-content: center
      height: 255px

      @media(min-width: 768px)
        height: unset
        margin: 30px 0px 50px 0px
        align-items: baseline

      @media(min-width: 1024px)
        height: 174px
        margin: 99px 42px 0px 0px

    &-title
      font-family: AppleSDGothicNeo
      font-size: 17px
      width: 280px
      font-weight: 600
      color: #3e3e3e
      font-stretch: normal
      font-style: normal
      line-height: normal
      letter-spacing: normal
      height: 40px
      margin-bottom: 14px

      @media(min-width:768px)
        height: 20px
        width: 100%

      @media(min-width: 1024px)
        height: 40px
        width: 210px

    &-subtitle
      font-family: AppleSDGothicNeo
      font-size: 13px
      width: 280px
      line-height: 1.54
      color: #989898
      height: 60px
      font-weight: normal
      font-stretch: normal
      font-style: normal

      @media(min-width:768px)
        height: 40px
        width: 100%

      @media(min-width: 1024px)
        height: 80px
        width: 210px

  &__menu
    width: 168px
    height: 100px
    border-radius: 4px
    box-shadow: 2px 2px 3px 0 rgba(122, 122, 122, 0.5)
    border: solid 1px #cdcdcd
    padding-top: 10px
    background: white
    position: absolute
    right: 26px
    top: 59px
    z-index: 2

    &-selected
      height: 40px
      background-color: #f4f4f4
      font-family: AppleSDGothicNeo
      font-size: 16px
      color: #3e3e3e
      padding: 10px 0px 0px 19px
      line-height: normal

    &-option
      font-family: AppleSDGothicNeo
      font-size: 16px
      color: #3e3e3e
      padding: 10px 0px 0px 19px
      line-height: normal     

.AddressTile
  height: 85px
  border-top: solid 1px #8c8c8c
  padding: 20px 23px
  position: relative

  &:first-child
    @media(min-width: 768px)
       border-top: none

  &__postnumber
    font-family: AppleSDGothicNeo
    font-size: 16px
    font-weight: 600
    line-height: normal
    color: #3e3e3e

  &__tag
    width: 45.9px
    height: 22px
    border-radius: 5px
    background-color: #ff5b5c
    font-family: AppleSDGothicNeo
    font-size: 14px
    font-weight: 600
    text-align: center
    color: #ffffff
    position: absolute
    top: 20px
    left: 92px

  &__address
    font-family: AppleSDGothicNeo
    font-size: 14px
    font-style: normal
    color: #989898
    position: absolute
    top: 44px

  &__button
    position: absolute
    top: 25px
    right: 23px

.tabs 
  li
    font-size: 20px
    &:first-child
      padding-left: 22px
    &:hover
      font-weight: bold

.tab__active-link
  font-weight: bold
  border-bottom-width: 2px !important

@import "~bulma/bulma.sass"

