@import "~bulma";
$tabs-link-active-color: red;

#mobile-version
  display: block

  @media(min-width: 768px)
    display: none

#tablet-version
  display: none

  @media(min-width: 768px)
    display: block

  @media(min-width: 1024px)
    display: none

#desktop-version
  display: none
  margin: 0px 42px 255px 42px

  @media(min-width: 1024px)
    display: block

.App_tablet-tiles
  margin: 20px 42px 0px 42px
  border-radius: 8px
  border: solid 1px #979797

  @media(min-width: 1024px)
    margin: 20px 42px 0px 0px

.App_mobile-tiles
  margin-top: 20px

.App_title
  font-family: AppleSDGothicNeo
  font-size: 36px
  font-weight: bold
  line-height: normal
  letter-spacing: normal
  color: #000000
  margin-top: 26px
  margin-left: 28px
  margin-bottom: 60px

.App_mobile-container
  margin: 50px 20px 0px 20px
  display: flex
  justify-content: space-between

.App_tablet-container
  margin: 50px 42px 0px 42px
  display: flex
  justify-content: space-between

  @media(min-width: 1024px)
    margin: 50px 42px 0px 0px

.App_subtitle
  font-family: AppleSDGothicNeo
  font-size: 20px
  font-weight: 600
  color: #3e3e3e

.App_link
  text-decoration: underline

.App_button
  height: 50px;
  border-bottom: solid 1px #8c8c8c
  border-top: solid 1px #8c8c8c
  display: flex
  align-items: center
  justify-content: center
  font-family: AppleSDGothicNeo
  font-size: 16px
  color: #252525

  @media(min-width: 768px)
    border-bottom: none

.App_info
  width: 320px
  height: 154px
  border-radius: 8px
  border: solid 1px #979797
  background-color: #ffffff
  padding: 20px

  @media(min-width: 768px)
    width: 100%
    margin: 0px 42px 
    height: 114px

  @media(min-width: 1024px)
    height: 174px
    margin: 0px

  &-container
    display: flex
    align-items: center
    justify-content: center
    height: 255px

    @media(min-width: 768px)
      height: unset
      margin: 30px 0px 50px 0px
      align-items: baseline

    @media(min-width: 1024px)
      height: 174px
      margin: 99px 42px 0px 0px

  &-title
    font-family: AppleSDGothicNeo
    font-size: 17px
    width: 210px
    font-weight: 600
    color: #3e3e3e
    font-stretch: normal
    font-style: normal
    line-height: normal
    letter-spacing: normal
    height: 40px
    margin-bottom: 14px

    @media(min-width:768px)
      height: 20px

    @media(min-width: 1024px)
      height: 40px

  &-subtitle
    font-family: AppleSDGothicNeo
    font-size: 13px
    width: 210px
    line-height: 1.54
    color: #989898
    height: 60px
    font-weight: normal
    font-stretch: normal
    font-style: normal

    @media(min-width:768px)
      height: 40px

    @media(min-width: 1024px)
      height: 80px

.AddressTile
  height: 85px
  border-top: solid 1px #8c8c8c
  padding: 20px 23px
  position: relative

  &:first-child
    @media(min-width: 768px)
       border-top: none

.AddressTile_zipcode
  font-family: AppleSDGothicNeo
  font-size: 16px
  font-weight: 600
  line-height: normal
  color: #3e3e3e

.AddressTile_tag
  width: 45.9px
  height: 22px
  border-radius: 5px
  background-color: #ff5b5c
  font-family: AppleSDGothicNeo
  font-size: 14px
  font-weight: 600
  text-align: center
  color: #ffffff
  position: absolute
  top: 20px
  left: 92px

.AddressTile_address
  font-family: AppleSDGothicNeo
  font-size: 14px
  font-style: normal
  color: #989898
  position: absolute
  top: 44px

.AddressTile_button
  position: absolute
  top: 25px
  right: 23px
